:root {
    --main-clr: hsl(0, 0%, 100%);
    --accent-clr: #0FFF50;
    --main-bg-clr: hsl(0, 0%, 8%);
    --accent-bg-clr: hsl(0, 0%, 12%);
    --link-bg-clr: hsl(0, 0%, 20%);
}

* {
    margin: 0;
    box-sizing: border-box;
    line-height: 150%
}

img {
    display: block;
    max-width: 100%
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-clr);
    background-color: var(--main-bg-clr);
}

h1 {
    color: var(--accent-clr);
}

form {
    width: 100%;
}

*::placeholder {
    color: var(--main-clr) !important;
}

input {
    color: var(--main-clr) !important;
    background-color: var(--main-bg-clr) !important;
    border-color: #0d6efd !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 1.5rem;
    background-color: var(--accent-bg-clr);
    border-radius: .625rem;
    gap: 0.5rem;
}
